.background {
  height: 100%;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/img/reel.jpg');
  background-position: center center;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.lheader, .rheader {
  position: absolute;
}

.lheader {
  left: 5px;
  top: 5px;
}

.rheader {
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
  color: #fff;
}

.rheader a {
  margin: 20px 10px;
}

.rheader a:hover {
  color: var(--blue1);
}

.lfooter, .rfooter {
  position: absolute;
  font-size: 12px;
  margin: 8px;
  bottom: 0;
  color: #fff;
}

.lfooter {
  left: 0;
}

.lfooter > a:hover {
  color: var(--blue1);
}

.lfooter > a:nth-child(2) {
  margin: 0 5px;
}

.rfooter {
  right: 0;
}
