.container {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title > h1 {
  margin: 0;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.title > div {
  margin-left: 10px!important;
  border-radius: 5px;
}

.link {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid var(--blue1);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  transition: 0.3s;
}

.link:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  bottom: 0;
  height: 100%;
  background: #fff;
  right: 0;
  left: auto;
  z-index: -1;
}

.link:hover {
  color: var(--blue1);
}

.link:hover:after {
  width: 100%;
  left: 0;
}
