.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.title > h1 {
  margin: 0;
}

.title > div {
  margin-left: 5px!important;
}

.links > a {
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid var(--blue1);
  display: inline-block;
}

.links > a:hover {
  color: var(--blue1);
}
