.background {
  height: 100%;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('/img/reel.jpg');
  background-position: center center;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.header > div {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
}

.footer > div {
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 0;
  right: 0;
}
