.container {
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.25s;
  text-align: left;
}

.container:hover {
  transform: scale(1.02);
}

.container > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.description {
  margin: 0;
  padding: 10px;
}
