.header {
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  overflow: auto;
  min-height: calc(100% - 120px);
}

.content > h1 {
  text-align: center;
  margin-bottom: 0;
}

.movielist {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
