.content {
  text-align: center;
  overflow: auto;
  min-height: calc(100% - 120px);
}

.content > h1 {
  margin-bottom: 0;
}

.release {
  margin-top: 0;
  font-style: italic;
  color: #999;
}

.overview {
  line-height: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.genrelist {
  margin: 10px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre {
  background: #efefef;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
