.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerbox {
  background: #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.centerbox > h1 {
  margin: 0 0 10px 0;
}

.centerbox > button {
  padding: 10px;
}
